@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}
 a {
     text-decoration: none;
}

section {
    text-align: center;
    padding: 130px 0;
}

.button {
    padding: 20px;
    background: #0f1c80;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.section1 {
    background-image: linear-gradient(to right, #984b9d, #1f4997, #349e9e);
    h1 {
        font-size: 48px;
        color: white;
        margin-bottom: 85px;
    }
    h2 {
        font-size: 24px;
    }
    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .logo {
        position: absolute;
        top: 25px;
        right: 25px;
    }
    form {
        background-color: white;
        padding: 55px 45px;
        height: 100%;
        max-height: 100%;
        input {
            margin: 9px auto;
            width: 100%;
            padding: 10px;
            border: 1px solid #dbdbdb;
            font-size: 14px;
            &::placeholder {
                color: #dbdbdb;
            }
        }
        #download {
            margin-top: 30px;
            padding: 20px;
        }
    }
}

.section2 {
    text-align: left;
    h1 {
        font-size: 48px;
        color: #444444;
    }
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1rem;
        line-height: 2;
        margin: 35px auto;
    }
    video {
        width: 100%;
    }
    .cta {
        background: #f7f7f7;
        padding: 36px 56px;
        width: 90%;
        margin: 80px auto;
        display: flex;
        justify-content: space-around;
        .cta-left {
            color: #444444;
            font-size: 24px;
            display: flex;
            align-items: center;
            padding: 10px;
            a {
                color: #444444;
            }
            i {
                margin-right: 28px;
                display: block;
            }
        }
        .button {
            padding: 24px 55px;
            border-radius: 5px;
            text-align: center;
            a {
                color: white;
            }
        }
    }
    img {
        width: 100%;
    }
    .checkmarks {
        img {
            width: 25px;
            height: 25px;
            margin-right: 5px;
        }
        .check-item {
            display: flex;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
}

.section3 {
    background: #ededed;
    h2 {
        font-size: 48px;
        margin-bottom: 60px;
    }
    img {
        margin-right: 12px;
        width: 90%;
        max-width: 230px;
    }
}

.section4 {
    background: #339999;
    text-align: left;
    color: white;
    h2 {
        font-size: 20px;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 20px;
    }
    .col-left {
        font-size: 48px;
        font-weight: bold;
        position: relative;
        top: -22px;
        span {
            color: #444444;
        }
    }
    .col-middle {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        ul {
            list-style-type: none;
            li {
                margin: 5px auto;
            }
        }
        .contact-left {
            display: flex;
            i {
                margin-right: 8px;
                position: relative;
                top: 10px;
            }
        }
        .contact-right {
            ul li {
                margin-bottom: 18px;
            }
            i {
                margin-right: 8px;
            }
        }
    }
    .col-right {
        .social {
            display: flex;
            justify-content: space-between;
            a {
                color: white;
            }
        }
    }
    
}

footer {
    background: #444444;
    color: #6d6d6d;
    padding: 32px;
    text-align: center;
}

@media (max-width: 800px) {
    .section2 .cta {
        flex-direction: column;
        .button {
            padding: 10px;
            margin-top: 32px;
        }
    }
    .section2 .check-item {
        margin: 10px auto;
    }
    .section3 img {
        margin-bottom: 48px;
    }
}
